.app {
  text-align: center;
}

.counter {
  width: 10rem;
  padding: 1rem 0 2rem 0;
  margin: 2rem auto;
  border: 1px solid black;
}

.count {
  padding: 1em;
}

.list-form {
  width: 20rem;
  margin: 2rem auto;
  text-align: left;
}

.list-status {
  margin: 2rem 0;
  text-align: center;
}

.lst-item li {
  margin: 0.8rem 0;
}

.lst-item li button {
  float: right;
  margin: 0.1rem;
}
.done {
  text-decoration: line-through;
}
