.App {
  font-family: sans-serif;
  text-align: center;
}

.counter {
  width: 10rem;
  padding-bottom: 2rem;
  margin: 2rem auto;
  border: 1px solid black;
}

.count {
  padding: 1em;
}

.list-form {
  width: 20rem;
  margin: 2rem auto;
  text-align: left;
}

.list-form input {
  display: block;
  width: 19.5rem;
  margin: 0.4rem 0;
}

.list-status {
  text-align: center;
}

.btn-add {
  display: block;
  width: 20rem;
  margin-bottom: 0.4rem;
}

.lst-item li span {
  display: inline-block;
  min-width: 5rem;
}

.done {
  text-decoration: line-through;
}
